.logo svg {
    width: 9.25rem;
    height: 2.5rem;
    color: var(--theme-color);
    fill: currentColor;
    display: block;
  }
  
  @media screen and (max-width: 959.98px) {
    .logo svg {
      width: 5.5625rem;
      height: 1.5rem;
    }
    .logo {
      margin-left: 1rem;
    }
  }
  