:root {
  --theme-color: rgb(229, 9, 20);
}

body,
html {
  height: auto;
  background: #000000;
  color: #fff;
  overflow-x: auto;
}

svg {
  width: 1.5rem;
  height: inherit;
  margin-left: 0.75rem;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.banner-wrapper {
  padding: 0 1.5rem;
}

.para1 {
  margin-bottom: 1rem;
}

button {
  border: 0;
  cursor: pointer;
  fill: currentColor;
  position: relative;
  transition-duration: 250ms;
  transition-property: background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
  vertical-align: text-top;
  width: auto;
  font-size: 0.875rem;
  font-weight: 500;
  min-height: 2rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  color: #fff;
  background-color: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

<<<<<<< HEAD
=======
.marginTop{
  margin-top: 36px;
}

>>>>>>> eade0df (Footer will be adder)
button:hover {
  background: #be131a;
  transition: 0.3s all ease-in;
}

.heading1 {
  font-size: 2rem;
  font-weight: 700;
}
<<<<<<< HEAD
=======

>>>>>>> eade0df (Footer will be adder)
.heading1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 125%;
}

.heading1 {
  margin-bottom: 0.5rem;
}

.para1 {
  margin-bottom: 1rem;
}

.para1 {
  font-size: 1rem;
  font-weight: 400;
}

.card-heading-title {
  font-size: 18px;
  font-weight: 700;
}

.card-heading {
  margin-top: 1rem;
}

.heading1 {
  font-size: 1.25rem;
  font-weight: 500;
}

.heading2 {
  font-size: 1.25rem;
  font-weight: 600;
}

.para2-container {
  margin-top: 1.5rem;
}

.para2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-weight: 400;
}

<<<<<<< HEAD
=======
.para3 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 12px 0 0 12px;
  padding: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-decoration: underline;
  font-weight: 400;
  line-height: 1.5;
}

.cell-para {
  text-decoration: underline;
}

>>>>>>> eade0df (Footer will be adder)
@media (max-width: 600px) {
  .heading2 {
    font-size: 1.25rem;
    font-weight: 500;
  }
<<<<<<< HEAD
=======

>>>>>>> eade0df (Footer will be adder)
  .para2-container {
    margin-top: 0.5rem;
  }
}
<<<<<<< HEAD
=======

>>>>>>> eade0df (Footer will be adder)
@media (min-width: 960px) {
  .heading2 {
    font-size: 1.25rem;
    font-weight: 500;
  }
}
<<<<<<< HEAD
=======

>>>>>>> eade0df (Footer will be adder)
@media (min-width: 1280px) {
  .heading2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

@media (min-width: 1920px) {
  .heading2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media (min-width: 600px) {
  .banner-wrapper {
    padding: 0 2rem;
  }
<<<<<<< HEAD
=======

>>>>>>> eade0df (Footer will be adder)
  .container {
    padding: 0 2rem;
  }
}

@media (min-width: 960px) {
  .container {
    padding: 0 5rem;
  }
<<<<<<< HEAD
=======

>>>>>>> eade0df (Footer will be adder)
  .heading1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
<<<<<<< HEAD
=======

>>>>>>> eade0df (Footer will be adder)
@media (min-width: 1280px) {
  .container {
    padding: 0 9.25rem;
  }
}
<<<<<<< HEAD
=======

>>>>>>> eade0df (Footer will be adder)
@media (min-width: 1920px) {
  .container {
    padding: 0 22.125rem;
  }
}

@media (min-width: 600px) {
  .heading1 {
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (min-width: 1280px) {
  .heading1 {
    font-size: 3.5rem;
    font-weight: 900;
  }
}

@media (min-width: 1920px) {
  .heading1 {
    font-size: 4rem;
    font-weight: 900;
  }
}
<<<<<<< HEAD
=======

>>>>>>> eade0df (Footer will be adder)
@media (min-width: 1280px) {
  .heading1 {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1920px) {
  .heading1 {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 960px) {
  .para1 {
    margin-bottom: 1.5rem;
  }
}
<<<<<<< HEAD
=======

>>>>>>> eade0df (Footer will be adder)
@media (min-width: 1280px) {
  .para1 {
    margin-bottom: 2rem;
  }
}

@media (min-width: 600px) {
  .para1 {
    font-size: 1rem;
    font-weight: 400;
  }
}

@media (min-width: 1280px) {
  .para1 {
    font-size: 1.25rem;
    font-weight: 500;
  }
}
<<<<<<< HEAD
=======

>>>>>>> eade0df (Footer will be adder)
@media (min-width: 600px) {
  .card-heading-title {
    font-size: 1.125rem;
    font-weight: 500;
  }
}
<<<<<<< HEAD
=======

>>>>>>> eade0df (Footer will be adder)
@media (min-width: 960px) {
  .card-heading-title {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
<<<<<<< HEAD
=======

>>>>>>> eade0df (Footer will be adder)
@media (min-width: 1280px) {
  .card-heading-title {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

@media (min-width: 1920px) {
  .card-heading-title {
<<<<<<< HEAD
      font-size: 2rem;
      font-weight: 700;
=======
    font-size: 2rem;
    font-weight: 700;
>>>>>>> eade0df (Footer will be adder)
  }
}